:root{
  --primary-blue: #003fff;
  --primary-blue-light : #dee4fa;
  --bg-color: #f6f6f9;
  --medium-grey:#000000b3;
  --light-grey: #00000080;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background-color: var(--bg-color);
}

a:link, a:visited, a:hover, a:active  {
  text-decoration: none;
}


/* ----------------------------------CONTAINER */

.container{
  display: flex;
  max-width: 1620px;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: space-between;
}

/* --------------------------------------NAVBAR */
.nav {
  width: 285px;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding-top: 58px;
  border-right: 1px dotted #000000;
  border-left: 1px dotted #000000;
  margin-right: 0.71875em;
}

.nav > h4 {
  /* border: 1px solid black; */
  margin-bottom: 58px;
  margin-left: 46px;
}

/* ----------------------------------------NAVBTN SOCMED */
.nav__btn-socmed {
  position: relative;
  margin-bottom: 26px;
  margin-left: 46px;
  width: 238px;
  /* border: 1px solid black; */
}

.nav__btn-socmed a{
  color: #000000;
}

.nav__btn-socmed a span:hover {
  color: var(--primary-blue);
}

.nav__btn-socmed p {
  color: var(--light-grey);
  padding-top: 5px;
}

.nav__btn-socmed span {
  position: absolute;
  right: 37px;
  top: 10px;
  font-size: 18px;
  color: var(--light-grey);
}
/* ---------------------------------NAVBTN DASHBOARD & MAPS*/
.nav__btn-dashboard {
  display: flex;
  width: 238px;
  margin: 0 auto;
  padding: 16px 0 16px 23px;
  border-radius: 15px;
  color: var(--medium-grey-light);
}

.nav__btn-dashboard:hover,
.nav__btn-maps:hover {
  background-color: var(--primary-blue-light);
}

.nav__btn-dashboard:hover p,
.nav__btn-dashboard:hover span,
.nav__btn-maps:hover p,
.nav__btn-maps:hover span {
  color: var(--primary-blue);
}

.nav__btn-dashboard span,
.nav__btn-dashboard p,
.nav__btn-maps span,
.nav__btn-maps p {
  color: var(--light-grey);
}

.nav__btn-dashboard p,
.nav__btn-maps p {
  margin-left: 15px;
  font-weight: bold;
}

.nav__btn-maps {
  display: flex;
  width: 238px;
  margin-left: 23px;
  padding: 16px 0 16px 23px;
  border-radius: 15px;
  color: var(--medium-grey-light);
}

/* ------------------------------------NAVBTN FOLDERS */
.nav__btn-folders span {
  margin-right: 13px;
}

.nav__btn-socmed a:hover,
.nav__btn-folders a:hover {
  color: var(--primary-blue);
}

.nav__btn-folders {
  width: 238px;
  margin: 16px 0 16px;
  margin-left: 46px;
  color: var(--light-grey);
}

.nav__btn-folders > p {
  color: var(--light-grey);
  font-weight: bolder;
  margin-bottom: 30px;
  margin-top: 40px;
}

.nav__btn-folders a {
  display: flex;
  color: var(--medium-grey);
  font-weight: bold;
  margin-top: 10px;
}

.nav__btn-folders span {
  color: var(--light-grey);
}

/*---------------------------------------MAIN-PANEL */

.main {
  flex: 1 1 700px;
  margin: 23px 11px;
  min-height: 740px;
  padding: 0 32px 32px 32px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
}

.main__tab {
  display: flex;
  height: 45px;
  line-height: 1.5;
  padding-top: 7.35px;
  background-color: #fbfbfc;
  /* border: 1px solid black; */
}

.main__item-count {
  height: 155px;
  padding-top: 50px;
  /* border: 1px solid black; */
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 73%;
  /* border: 1px solid red; */
}

.main__cards-card{
  max-width: 310px;
  max-height: 290px;
  border-radius: 16px;
  border: 1px solid black;
}

/* ----------------------------------------SIDE-PANEL */

.side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 610px;
  margin: 23px 11.5px;
  /* border: 1px solid black; */
  border-radius: 10px;
}

.side-profile {
  flex: 1 1 610px;
  background-color: #fff;
  padding: 0 32px 32px 32px;
  border: 1px solid black;
  border-radius: 10px;
}

.side-profile__tab {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfc;
  height: 45px;
  line-height: 1.5;
  padding-top: 7.35px;
  /* border: 1px solid black; */
}

.side-profile__head {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  margin-bottom: 17px;
  /* border: 1px solid black; */
}

.side-profile__head a {
  display: inline-block;
  width: 95px;
  height: 35px;
  padding: 5px;
  line-height: 1.3;
  border-radius: 8px;
  background-color: var(--primary-blue-light);
}

.side-profile__head a span {
  font-size: 16px;
  margin-right: 5px;
}

.side-profile__head-start {
  display: flex;
  /* border: 1px solid black; */
}

.side-profile__media {
  display: flex;
  margin-top: 52px;
  margin-bottom: 45px;
}

.media-1, .media-2 {

}

.side-invite {
  flex: 1 1 35%;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
}

